<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutoLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCF2E47A1CD1C48F00F5A13E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCF2E48E1CD1C48F00F5A13E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCF2E4991CD1C48F00F5A13E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
